<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source= apollo.biz.uiowa.edu; Initial Catalog=6k183g1; Persist Security Info= True; &#xA;         User ID=6K183g1; password=password!"/>
    <add name="cs_SLPL" connectionString="Data Source= apollo.biz.uiowa.edu; Initial Catalog=6k183g1; Persist Security Info= True; &#xA;         User ID=6K183g1; password=password!" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <system.web>
    <siteMap defaultProvider ="XmlSiteMapProvider" enabled ="true">
    <providers>
      <add name="XmlSiteMapProvider"

         description="Default SiteMap provider."

         type="System.Web.XmlSiteMapProvider "

         siteMapFile="Web.sitemap"

         securityTrimmingEnabled="true" />
      <add siteMapFile ="mobile.sitemap" name="mobile.sitemap" type="System.Web.XmlSiteMapProvider " />
      
    </providers>
    </siteMap>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx"/>
    </authentication>
    <roleManager enabled="true"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>